<a href="https://colab.research.google.com/github/utkarshg1/DL-2pm-4pm-Weekend/blob/main/Dataclass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from dataclasses import dataclass
from datetime import date

In [9]:
@dataclass
class Employee:
  id: int
  name: str
  birthdate: date
  salary: float

  def __post_init__(self):
    errors = []

    try:
      self.validate_id()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_name()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_birthdate()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    try:
      self.validate_salary()
    except (TypeError, ValueError) as e:
      errors.append(str(e))

    if errors:
      raise ValueError("Validation errors occurred:\n" + "\n".join(errors))

  def validate_id(self):
    if not isinstance(self.id, int):
      raise TypeError("Id must be an integer")
    if self.id<0:
      raise ValueError("Id must be a positive integer")

  def validate_name(self):
    if not isinstance(self.name, str):
      raise TypeError("Name must be a string")
    if len(self.name)<3:
      raise ValueError("Name must be at least 3 characters long")

  def validate_birthdate(self):
    if not isinstance(self.birthdate, date):
      raise TypeError("Birthdate must be a date")
    if self.birthdate>date.today():
      raise ValueError("Birthdate must be in the past")

  def validate_salary(self):
    if not isinstance(self.salary, float):
      raise TypeError("Salary must be a float")
    if self.salary<0:
      raise ValueError("Salary must be a positive float")

  def get_info(self):
    print("Employee Information")
    print(f"Employee Id : {self.id}")
    print(f"Employee Name : {self.name}")
    print(f"Employee Birthdate : {self.birthdate}")
    print(f"Employee Salary : {self.salary:.2f} INR")

In [10]:
emp = Employee(1, "John", date(1990, 1, 1), 50000.0)

In [11]:
emp

Employee(id=1, name='John', birthdate=datetime.date(1990, 1, 1), salary=50000.0)

In [12]:
emp.get_info()

Employee Information
Employee Id : 1
Employee Name : John
Employee Birthdate : 1990-01-01
Employee Salary : 50000.00 INR

In [15]:
emp2 = Employee("Two", "Me", "20th Jul 2024", -30000.0)

ValueError: Validation errors occurred:
Id must be an integer
Name must be at least 3 characters long
Birthdate must be a date
Salary must be a positive float